body{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#login_register{
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  background:url('http://thecatapi.com/api/images/get?format=src&type=gif') no-repeat fixed center; 
  background-size: 100%;
}

.form-signin {
  max-width: 380px;
  padding: 15px;
  margin: 0 auto;
  background: rgba(54, 25, 25, .5);
}

.question-form {
  max-width: 550px;
  padding: 15px;
  margin: 0 auto;
  background: rgba(54, 25, 25, .5);
}
.question-form h3{
  margin-top: -10px; 
  color: #1ABC9C;
}

.form-signin h3{
  margin-top: -10px; 
  color: #1ABC9C;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-bar-placement{
  margin-top:-40px;
}